/* signup */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
  font-family: 'Slabo 27px', serif;;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  width: 100%;
  height: 100vh;
  background-position: center;
  background: fixed;
}
.navbar{
  height:150px;
  position: fixed;
  top: 0;
  width: 100%;
  float: left;
}
.logo {
  float: left;
  width: 100px;
  height: auto;
  border-radius: 50px;
  margin-top: 0px;
}
.nav li a{
  display: inline-block;
  margin-left: 80px;
  color: white;
}
.nav li a:hover,
.nav li a:active {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid #e67e22;
}

body{
  background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/4450.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
#form {
  padding: 10px;
  margin-top: 250px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: ;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}
/*signup*/
